name: testing wf 
env:
  delete_env_1: "true"

on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'
jobs:
  delete1:
    runs-on: windows-latest
    environment: Delete1
    steps:
    - name: execute powershell and take argumnets
      if: delete_env_1 == 'true' 
      uses: Azure/powershell@v1
      with:
        inlineScript: echo ${{ vars.test1 }}
        azPSVersion : 'latest'
    
