name: Deploy SAP azure infra

on:
  workflow_dispatch:
    #inputs:
    #  isManagmentGroupRequired:
    #    required: true
jobs:
  deployinfra:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.3
    - name: Set up Azure CLI
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: run command
      run: az deployment sub create --location "uksouth" --template-file "/home/runner/work/sapOnAzure/sapOnAzure/SolutionModules/DeployInfra/saps4.main.solution.bicep" --parameters "/home/runner/work/sapOnAzure/sapOnAzure/SolutionModules/DeployInfra/saps4hana.dev.solution.parameters.json"
